################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeRecommender/v15/Server/sqlite3
/RecipeRecommender/bin/Debug
/RecipeRecommender/obj/Debug
/.vs/RecipeRecommender/v15/.suo
